.about {
  height: 720px;
  border-bottom: 6px solid red;

    &::before {
      top: 720;
    }
}

.about-tag::after {
  color: var(--color-primary);
  content: '. about . about . about . about . about . about . abo';
  font-family: var(--font-family-cooper);
  font-size: var(--font-step-5);
  height: 180px;
  left: 0;
  overflow: clip;
  position: absolute;
  top: 660;
  white-space: nowrap;
}

.about-bg::before {
  height: 1440;
  top: 720;
}
