.footer {
  height: 725px;
  position: relative;
  text-decoration: none;

    &::before {
    background-image: url('../img/footer-bg.png');
    content: '';
    height: 100%;
    position: absolute;
    width: 100vw;
    z-index: var(--z-index-below);
  }

    &__align {
      margin: 0 auto;
      margin-top: 40px;
      width: 1080px;
    }

    h1 {
      font-size: var(--space-l);
    }

    h2 {
      font-size: var(--space-s);
      text-decoration: underline;
    }

    h3 {
      bottom: 30px;
    }

    h4 {
      bottom: 0;
    }

    h3, h4 {
      font-size: var(--space-xs);
      left: 50%;
      position: absolute;
      transform: translate(-50%);
    }

    a {
      color: var(--color-primary);
      font-size: var(--space-xs);
      text-decoration: none;
    }

    &__container {
      display: flex;
      justify-content: space-around;
      padding-top: 40px;
    }

    &__map h2 {
      padding-bottom: 30px;
    }
}
