.i-am{
  display: flex;
  flex-direction: row;
  padding-top: 130px;
}

.perfil-photo-container {
  height: 350px;
  position: relative;
  width: 350px;
}

.perfil-photo {
  clip-path: circle(50%);
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.border-overlay {
  border:6px solid white;
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.perfil {
  display: grid;
  place-items: center;
  gap: var(--space-l);
}

.name {
  font-family: var(--font-family-philosopher);
}