.services {
  height: 720px;
  display: grid;
  align-items: end;
  gap: 180px;

  &::before {
    background-color: var(--color-secondary);
    content: '';
    height: 720px;
    left: 0;
    position: absolute;
    top: 1440;
    width: 2560px;
    z-index: var(--z-index-below);
  }

  &__title__container {
    position: relative;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  &__title-clip {
    color: var(--color-tertiary);
    clip-path: circle(10% at 55% 12%);
  }

  &__title-back, &__title-clip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 76px;
  }
}
