.services {
  height: 720px;
  display: grid;
  align-items: end;
  gap: 180px;

  &__title__container {
    position: relative;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
  }

  &__title-clip {
    color: var(--color-tertiary);
    clip-path: circle(10% at 55% 12%);
  }

  &__title-back,
  &__title-clip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 76px;
  }
}
